<!doctype html>
<html lang="es">
    <head> 
        <meta charset="utf-8" />
        <title>Mercado Cheems</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="La app de compra en linea preferida por los mexicanos" name="description" />
        <meta content="Andrey" name="author" />
 
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/site/favicon.png') }}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
            <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ url_for('static', filename='css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
            
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"
/>
            <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
        </head>

        <body data-sidebar="dark" data-sidebar-size="small">

            <div id="layout-wrapper">

                <header id="page-topbar">
                    <div class="navbar-header">
                        <div class="d-flex">
                            <div class="navbar-brand-box">
                        
                                <a href="index.html" class="logo logo-light">
                                    <span class="logo-sm">
                                        <img src="{{ url_for('static', filename='images/site/cheems_bank_logo.png') }}" alt="" height="22">
                                    </span>
                                    <span class="logo-lg">
                                        <img src="{{ url_for('static', filename='images/site/cheems_bank_logo.png') }}" alt="" height="70" style="margin-top:10px">
                                    </span>
                                </a>
                            </div>

                            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                                <i class="fa fa-fw fa-bars"></i>
                            </button>
                        </div>

                        <div class="d-flex">
                            <div class="dropdown d-inline-block">
                                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle header-profile-user" src="{{ url_for('static', filename='images/users/default.png') }}" alt="Header Avatar">

                                    <span class="d-none d-xl-inline-block ms-1" key="t-henry">Sayori</span>

                                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Mi perfil</span></a> 
                                    <a class="dropdown-item" href="#"><i class="bx bx-key font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Cambiar mi contraseña</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Cerrar sesión</span></a>
                                </div>
                            </div>
                        </div>
                        
    
                        </div>
                    </div>
                </header>



                <div class="vertical-menu">
                    <div data-simplebar class="h-100">
                        <div id="sidebar-menu">
                            <ul class="metismenu list-unstyled" id="side-menu">

                                <li class="menu-title" key="t-menu">-=-</li>
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="bx bx-edit"></i>
                                        <span key="t-dashboards">Registrar</span>
                                    </a>
                                    <ul class="sub-menu" aria-expanded="false">
                                        <li><a href="javascript:void(0);" id="btn-nueva-venta">Nueva venta</a></li>
                                    </ul>
                                </li>

                                <li class="menu-title" key="t-apps">-=-</li>
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="bx bx-file"></i>
                                        <span key="t-dashboards">Consultar</span>
                                    </a>
                                    <ul class="sub-menu" aria-expanded="false">
                                        <li><a href="javascript:void(0);" id="btn-inventario-completo">Inventario Completo</a></li>
                                        <li><a href="javascript:void(0);" id="btn-reporte-resumen-ventas">Resumen Ventas</a></li>
                                        <li><a href="javascript:void(0);" id="btn-buscar-cliente">Buscar Cliente</a></li>
                                    </ul>
                                </li>
                                <li>

                            </ul>
                        </div>
                    </div>
                </div>


                
                <div class="main-content">
                    <div id="contenedor-principal">
                        <div class="card-venta">

                                <h3 class="text-white mb-4">
                                    Generar Nueva Venta
                                </h3>

                                <form method="POST" action="/registrar_venta">

                                    <div class="mb-3">

                                        <label class="form-label text-light">
                                            Cliente
                                        </label>

                                       <select
                                            id="cliente"
                                            name="id_cliente"
                                            class="form-select custom-input"
                                        >

                                            {% for cliente in clientes %}

                                                <option value="{{ cliente[0] }}">
                                                    {{ cliente[1] }}
                                                </option>

                                            {% endfor %}

                                        </select>
                                    
                                    </div>

                                    <div class="mb-3">

                                        <label class="form-label text-light">
                                            Producto
                                        </label>

                                        <select
                                            id="producto"
                                            name="id_producto"
                                            class="form-select custom-input"
                                        >

                                            {% for producto in productos %}

                                                <option
                                                    value="{{ producto[0] }}"
                                                    data-precio="{{ producto[2] }}"
                                                >
                                                    {{ producto[1] }}
                                                </option>

                                            {% endfor %}

                                        </select>

                                    </div>

                                    <div class="mb-3">

                                        <label class="form-label text-light">
                                            Cantidad
                                        </label>

                                        <input
                                            type="number"
                                            id="cantidad"
                                            name="cantidad"
                                            class="form-control custom-input"
                                            value="1"
                                        >

                                    </div>

                                    <div class="mb-3">

                                        <label class="form-label text-light">
                                            Precio Unitario
                                        </label>

                                        <input
                                            type="number"
                                            id="precio"
                                            name="precio"
                                            class="form-control custom-input"
                                            readonly
                                        >

                                    </div>

                                    <div class="mb-3">

                                        <label class="form-label text-light">
                                            Total
                                        </label>

                                        <input
                                            type="number"
                                            id="total"
                                            class="form-control custom-input"
                                            readonly
                                        >

                                    </div>

                                    <button
                                        type="submit"
                                        class="btn-venta"
                                    >
                                        Finalizar Compra
                                    </button>

                                </form>

                            </div>
                        </div>
    
                    <div class="modal fade transaction-detailModal" tabindex="-1" role="dialog" aria-labelledby="transaction-detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="transaction-detailModalLabel">Título de modal</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                                <!-- Modal de Registro de Información -->
                                <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="registroModalLabel">Registrar Categoría</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="formCategoria">
                                                    <div class="mb-3">
                                                        <label for="nombreCategoria" class="form-label">Nombre de la categoría</label>
                                                        <input type="text" class="form-control" id="nombreCategoria" name="nombre" placeholder="Ej: Carnes frías" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="descripcionCategoria" class="form-label">Descripción</label>
                                                        <textarea class="form-control" id="descripcionCategoria" name="descripcion" rows="3" placeholder="Descripción de la categoría" required></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-primary" id="guardarCategoriaBtn">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                        </div>
                    </div>
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <script>document.write(new Date().getFullYear())</script> Mercado Cheems - Compras en línea para todos los mexicanos
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end d-none d-sm-block">
                                        Desarrollado por Andrey y los chilos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>

            </div>


            <div class="rightbar-overlay"></div>

    <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ url_for('static', filename='libs/metismenu/metisMenu.min.js') }} "></script>
            <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js') }} "></script>
            <script src="{{ url_for('static', filename='libs/node-waves/waves.min.js') }} "></script>

            <script src="{{ url_for('static', filename='js/app.js') }} "></script>
            <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            
             <script>

                $(document).ready(function(){

                    $('#cliente').select2({
                        placeholder: "Selecciona un cliente",
                        width: '100%'
                    });

                    $('#producto').select2({
                        placeholder: "Selecciona un producto",
                        width: '100%'
                    });

                    actualizarPrecio();

                    $('#producto').change(function(){

                        actualizarPrecio();

                    });

                    $('#cantidad').on('input', function(){

                        calcularTotal();

                    });

                });

                function actualizarPrecio(){

                    const precioProducto = parseFloat(
                        $('#producto')
                        .find(':selected')
                        .attr('data-precio')
                    ) || 0;

                    $('#precio').val(precioProducto);

                    calcularTotal();
                }

                function calcularTotal(){

                    const precio =
                        parseFloat($('#precio').val()) || 0;

                    const cantidad =
                        parseInt($('#cantidad').val()) || 0;

                    $('#total').val(
                        (precio * cantidad).toFixed(2)
                    );
                }

            </script>
        </body>
</html>